<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="views/includes.html :: head">
    <body>
        <header th:replace="views/clamp.html :: header"/>
        <section class="grid-container">
            <h2>Activities</h2>
            <form action="/www/activity/create/post" class="usa-form" method="post">
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">Create an Activity</legend>

                    <label class="usa-label" for="name">Name</label>
                    <input aria-required="true" class="usa-input" id="name" name="name" required type="text">

                    <input class="usa-button" type="submit" value="Submit">
                </fieldset>
            </form>
        </section>
    </body>
    <footer th:replace="views/clamp.html :: footer"/>
</html>