<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="views/includes.html :: head"/>
    <body>
        <header th:replace="views/clamp.html :: header"/>
        <div class="usa-header usa-header--basic" role="banner">
            <legend class="usa-legend">Hi,
                <span th:text="${firstName}"/>
                <span th:text="${lastName}"/>
            </legend>

            <ul>
                <li>Your last checkin was on
                    <span th:text="${time}"/>
                </li>
            </ul>
            <div class="usa-accordion">
                <h2 class="usa-accordion__heading">
                    <button aria-controls="a1" aria-expanded="true" class="usa-accordion__button">
                        Arrivals
                    </button>
                </h2>
                <div class="usa-sidenav">
                    <li class="usa-sidenav__item">
                        Arrivals
                    </li>
                    <ul class="usa-sidenav__sublist">
                        <li class="usa-sidenav__item">
                            <a href="/www/signin">Sign in</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="/www/arrivals/register">Register</a>
                        </li>
                    </ul>
                </div>

                <h2 class="usa-accordion__heading">
                    <button aria-controls="a1" aria-expanded="true" class="usa-accordion__button">
                        Administration
                    </button>
                </h2>
                <div class="usa-accordion__content usa-prose" personId="a2">
                    <span class="usa-sidenav">
                        <div class="usa-sidenav__item">
                            <a>Supply</a>
                        </div>
                        <div class="usa-sidenav__item">
                            <a>Schedule</a>
                        </div>
                        <div class="usa-sidenav__item">
                            <a>Cloud Settings</a>
                        </div>
                    </span>
                </div>
                <h2 class="usa-accordion__heading">
                    <button aria-controls="a1" aria-expanded="true" class="usa-accordion__button">
                        Manage Your Team
                    </button>
                </h2>
                <div class="usa-accordion__content usa-prose" personId="a3">
                    <span class="usa-sidenav">
                        <div class="usa-sidenav__item">
                            <a>Add a member</a>
                        </div>
                        <div class="usa-sidenav__item">
                            <a>Members</a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </body>
    <footer th:replace="views/clamp.html :: footer"/>
</html>