<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="views/includes.html :: head"><head>
    <body>
        <header th:replace="views/clamp.html :: header"/>
        <section class="usa-section grid-container">
            <div class="grid-row" style="margin-bottom:-2em">
                <h2 style="flex-grow: 1">Activities</h2>
                <a style="align-self: center" th:href="@{/www/activity/create}">
                    <button class="usa-button">
                        <span class="usa-">Add</span>
                    </button>
                </a>
            </div>
            <th:block th:with="hasActivities = ${_activity_activities != null && _activity_activities.isEmpty()}">
                <th:block th:if="${hasActivities}">
                    <div class="grid-row">
                        No activities, please create one
                    </div>
                </th:block>
                <th:block th:unless="${hasActivities}">
                    <div class="grid-row"  style="padding-left:1em">
                        <table class="usa-table usa-table--borderless width-full">
                            <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="activity : ${_activity_activities}">
                                <td>
                                    <a th:href="@{'/www/activity/details/'+*{activity.getActivityId()}}">
                                        <span th:text="*{activity.name}"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </th:block>
            </th:block>
        </section>
    </body>
</html>