<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="views/includes.html :: head">
    <head>
<body>
<header th:replace="views/clamp.html :: header"/>
<h1>Activities</h1>
<a th:href="@{/www/activity/create}">
    <button>Create Activity</button>
</a>
<th:block th:if="${_activity_activities != null && _activity_activities.isEmpty()}">
    <div>
        No activities, please create one
    </div>
</th:block>
<table>
    <tr>
        <th>Id</th>
        <th>Activity</th>
        <th></th>
    </tr>
    <th:block th:if="${!_activity_activities.isEmpty()}">
        <tr th:each="activity : ${_activity_activities}">
            <td th:text="*{activity.getUniqueId()}"></td>
            <td>
                <a th:href="@{/www/activity/join/*{activity.getActivityId()}}">
                    <span th:text="*{activity.name}"></span>
                </a>
            </td>
            <td>
                <a th:href="@{/www/activity/join/*{activity.getActivityId()}}">
                    <button>Join</button>
                </a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>