<html xmlns:th="http://www.springframework.org/schema/security">
<header class="usa-header usa-header--basic" role="banner" th:fragment="header">
    <div class="usa-nav-container">
        <div class="usa-navbar">

            <p th:if="${__activity_current}" th:object="${__activity_current}">
                <span th:text="*{getName()}"/>
            </p>


            <p th:if="${__authentication_current}" th:object="${__authentication_current}">
                <span th:text="*{getFirstName()}"/>
                <span th:text="*{getLastName()}"/>
            </p>

            <div class="usa-logo" personId="basic-logo">
                <em class="usa-logo__text"><a aria-label="Home" href="/" title="Home">Vamonos</a></em>
            </div>
        </div>
    </div>
</header>
</html>