<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/assets/css/uswds.css">
</head>
<body>
<header class="usa-header usa-header--basic" role="banner">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="basic-logo">
                <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">Vamos</a></em>
            </div>
        </div>
    </div>
</header>
<div class="usa-header usa-header--basic" role="banner">
    <fieldset class="usa-fieldset">
        <legend class="usa-legend">
            Thank you for registering, <span th:text="${firstName}"/> <span th:text="${lastName}"/>
        </legend>


        <ul>
            Remember:
            <li>Unique ID: <span th:text="${username}"></span></li>
            <li>Check in PIN: <span th:text="${pin}"/></li>
            <li>You will need both your Unique Id and PIN to log in</li>
            <li>Keep these details in a safe place <button>Take Screenshot</button></li>
        </ul>
        <a href="/arrivals/"><button>sign in</button></a>
    </fieldset>
</div>
</body>
</html>