<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="views/includes.html :: head"/>
    <body>
        <header th:replace="views/clamp.html :: header"/>
        <div class="usa-header usa-header--basic" role="banner">
            <form class="usa-form" action="/www/signin" method="post">
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">Sign In</legend>

                    <label class="usa-label" for="unique-personId">Unique Id</label>
                    <input class="usa-input" id="unique-personId" name="unique-personId" required aria-required="true">
                    <label class="usa-label" for="checkin-pin">Check In PIN</label>
                    <input class="usa-input" id="checkin-pin" maxlength="4" name="checkin-pin" required aria-required="true">
                    <p class="usa-form__note">
                        <span title="Register-note" aria-controls="checkin-pin"><ul><li>Not registered yet? <a
                                href="/www/arrivals/register">Register here</a></li></ul></span>
                    </p>

                    <input class="usa-button" type="submit" value="Sign In">
                </fieldset>
            </form>
        </div>
    </body>
</html>