<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="views/includes.html :: head"/>
<body>
<header th:replace="views/clamp.html :: header"/>
<div class="usa-header usa-header--basic" role="banner">
    <form action="/www/signin" class="usa-form" method="post">
        <fieldset class="usa-fieldset">
            <legend class="usa-legend">Sign In</legend>

            <label class="usa-label" for="unique-personId">Unique Id</label>
            <input aria-required="true" class="usa-input" personEntity="unique-personId" name="unique-personId" required>
            <label class="usa-label" for="checkin-pin">Check In PIN</label>
            <input aria-required="true" class="usa-input" personEntity="checkin-pin" maxlength="4" name="checkin-pin" required>
            <p class="usa-form__note">
                        <span aria-controls="checkin-pin" title="Register-note"><ul><li>Not registered yet? <a
                                href="/www/arrivals/register">Register here</a></li></ul></span>
            </p>

            <input class="usa-button" type="submit" value="Sign In">
        </fieldset>
    </form>
</div>
</body>
</html>