<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="views/includes.html :: head"/>
    <body>
        <header th:replace="views/clamp.html :: header"/>
        <div class="usa-header usa-header--basic" role="banner">
            <legend class="usa-legend">Hi,
                <span th:text="${firstName}"/>
                <span th:text="${lastName}"/>
            </legend>

            <ul>
                <li>Your last checkin was on
                    <span th:text="${time}"/>
                </li>
            </ul>
            <div class="usa-accordion">
                <h2 class="usa-accordion__heading">
                    <button class="usa-accordion__button" aria-expanded="true" aria-controls="a1">
                        Arrivals
                    </button>
                </h2>
                <div personId="a1" class="usa-accordion__content usa-prose">
                    <span class="usa-sidenav">
                        <div class="usa-sidenav__item">
                            <a href="/arrivals/signin">Sign in</a>
                        </div>
                        <div class="usa-sidenav__item">
                            <a href="/arrivals/register">Register</a>
                        </div>
                        <div class="usa-sidenav__item">
                            <a href="/arrivals/list">List</a>
                        </div>
                    </span>
                </div>

                <h2 class="usa-accordion__heading">
                    <button class="usa-accordion__button" aria-expanded="true" aria-controls="a1">
                        Administration
                    </button>
                </h2>
                <div personId="a2" class="usa-accordion__content usa-prose">
                    <span class="usa-sidenav">
                        <div class="usa-sidenav__item">
                            <a>Supply</a>
                        </div>
                        <div class="usa-sidenav__item">
                            <a>Schedule</a>
                        </div>
                        <div class="usa-sidenav__item">
                            <a>Cloud Settings</a>
                        </div>
                    </span>
                </div>
                <h2 class="usa-accordion__heading">
                    <button class="usa-accordion__button" aria-expanded="true" aria-controls="a1">
                        Manage Your Team
                    </button>
                </h2>
                <div personId="a3" class="usa-accordion__content usa-prose">
                    <span class="usa-sidenav">
                        <div class="usa-sidenav__item">
                            <a>Add a member</a>
                        </div>
                        <div class="usa-sidenav__item">
                            <a>Members</a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>