<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="views/includes.html :: head"><head>
    <body>
        <header th:replace="views/clamp.html :: header"/>
        <section
            class="usa-section grid-container"
            th:object="${_activity_details}"
        >
            <div class="grid-row">
                <div style="flex-grow:1;align-self:center">
                    <span>Viewing Activity</span>
                    <h2 class="margin-top-1em" th:text="*{getName()}"/>
                </div>
                <div>
                    <span>You have not joined this activity</span>
                </div>
            </div>
            <div class="usa-accordion">
                <h2 class="usa-accordion__heading">
                    <button aria-controls="a1" aria-expanded="true" class="usa-accordion__button">
                        Stations
                    </button>
                </h2>
                <div class="usa-accordion__content usa-prose" id="a1">
                    <div class="grid-row grid-gap-05"  style="padding-left:1em">
                        <table class="usa-table usa-table--borderless width-full">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th style="text-align:right">
                                    <a style="align-self: center" th:href="@{/www/activity/station/create}">
                                        <button class="usa-button">
                                            <span class="usa-">Add</span>
                                        </button>
                                    </a>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="station : *{stations}">
                                <td>
                                    <a th:href="@{'/www/activity/details/'+*{activity.getActivityId()}}">
                                        <span th:text="*{station.name}"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </section>
    </body>
</html>